#root {
	height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.center {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	display: flex;
}
